li a {
  text-decoration: none;
}

a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

a:hover {
  color: #d1920ae1;
}

body {
  background: white url("images/background2.jpg") no-repeat;
  background-size: contain;
  text-align: center;
  margin-top: 150px;
  color: red;
}